<!-- FOOTER -->
<footer id="footer-container">

  <div id="footer" class="default-color">

    <!--<div class="container">-->
      <!--<div class="row">-->
        <!--<div class="col-sm-12">-->

          <!--<div class="widget widget-social">-->

            <!--<div class="social-media text-center">-->

              <!--<a class="pinterest" href="#"><i class="fa fa-pinterest"></i></a>-->
              <!--<a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>-->
              <!--<a class="instagram" href="#"><i class="fa fa-instagram"></i></a>-->
              <!--<a class="facebook" href="#"><i class="fa fa-facebook"></i></a>-->
              <!--<a class="twitter" href="#"><i class="fa fa-twitter"></i></a>-->

            <!--</div>&lt;!&ndash; social-media &ndash;&gt;-->

          <!--</div>&lt;!&ndash; widget-social &ndash;&gt;-->

        <!--</div>&lt;!&ndash; col &ndash;&gt;-->
      <!--</div>&lt;!&ndash; row &ndash;&gt;-->
    </div><!-- container -->

  </div><!-- footer -->

  <div id="footer-bottom">

    <div class="container">
      <div class="row">
        <div class="col-sm-12">

          <div class="widget widget-text">

            <div class="text-center">

              <!--<img src="assets/images/footer-logo.png" alt="">-->
              <%= link_to(image_tag("logo/Logo_Coliman-01.png", :alt => "myway2", size: "80x80"), "/") %>

              <p><small>2017 &copy; All rights reserved</small></p>

            </div>

          </div><!-- widget-text -->

        </div><!-- col -->
      </div><!-- row -->
    </div><!-- container -->

  </div><!-- footer-bottom -->

</footer><!-- FOOTER CONTAINER -->